.user{
    display: flex;
    text-align: left;
    border-bottom:1px solid gray;
    padding: 10px;
}

.user img{
    width: 200px;
    height: 235px;
    border-radius: 10px;
    margin: 0px 30px 0px 20px;
}

.user h3{
    color:blue;
}

button{
    background-color: blue;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    color:greenyellow;
    background-color:red;
}